<!DOCTYPE html>
<html lang="en">
<head>
    <title>TapMap</title>
    <script src="https://polyfill.io/v3/polyfill.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="../static/style.css" />

</head>
<body>
    <h3>TapMap</h3>
    
    <div id="map"></div>
    <script type="module" src="../static/index.js"></script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV8Z7F1MDhyydJurSxYMYLKWFc_3PGirw&callback=initMap" async defer>
    </script>


</body>
</html>