<!--TapMapMain.html-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/TapMapStyle.css">
    <img src = "../static/TapMapLogo.svg" alt="tapmap logo">

<title>Tap Map: Interactive Resource Tool
</title>
</head>
<body>    
    <p> <br> </p>
    <p> <br> </p>

    <nav class = "centerNav">
        <a href = "/libraries" >Libraries</a> <a href = "/buses" >Buses</a>
        <br>
    </nav>

    <p> <br> </p>
    <p> <br> </p>

    <p> <br> </p>

   <label for = "distance" class = "centerSelect"> Distance:</label>
   <select name = "distance" id = "distance" class = "centerSelect">
        <option value = "5 mi"> 5 Miles</option>
        <option value = "10 mi"> 10 Miles</option>
        <option value = "15 mi"> 15 Miles</option>
        <option value = "20 mi"> 20 Miles</option>
    </select>

</body>
</html>